[Unit]
Description=vaultlocker retrieve: %i
After=network-online.target local-fs.target
Wants=network-online.target local-fs.target

[Service]
Type=oneshot
KillMode=none
Environment=VAULTLOCKER_TIMEOUT=10000
ExecStart=/bin/sh -c 'vaultlocker --retry $VAULTLOCKER_TIMEOUT retrieve %i'
TimeoutSec=0

[Install]
WantedBy=multi-user.target
