[Unit]
Description=vaultlocker retrieve: %i
DefaultDependencies=no
After=systemd-networkd-wait-online.service
After=networking.service
Before=network-online.target

[Service]
Type=oneshot
KillMode=none
Environment=VAULTLOCKER_TIMEOUT=10000
ExecStart=/bin/sh -c 'vaultlocker --retry $VAULTLOCKER_TIMEOUT decrypt %i'
TimeoutSec=0

[Install]
WantedBy=multi-user.target
